<%- include('partials/header'); -%>

<%- include('pages/about'); -%>

<%- include('pages/skills'); -%>

<%- include('pages/qualification'); -%>

<%- include('pages/services'); -%>

<%- include('pages/portfolio'); -%>

<!-- <%- include('pages/discount'); -%> -->

<!-- <%- include('pages/slider'); -%> -->

<%- include('pages/contact'); -%>

<%- include('partials/footer'); -%>





    <!--------------------JS-------------------->
    <script src="js/script.js"></script>
    <script src="js/about.js"></script>
    <script src="js/skills.js"></script>
    <script src="js/qualifications.js"></script>
    <script src="js/services.js"></script>
    <script src="js/portfolio.js"></script>
    <!-- <script src="js/slider.js"></script> -->



</body>

</html>